<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>

  <link rel="stylesheet" href="{{ asset('build/main.css') }}">

  {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}

<script src="{{ asset('build/main.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
